.history {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 2em;
  margin-top: 30px;
  color: #2C3E50;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.timeline_design {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.timeline_design ul {
  padding: 0;
}

.timeline_design li {
  list-style-type: none;
}

.timeline_design dd {
  margin-left: 0;
  text-align: left;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  width: 15px;
  height: 100%;
  background: #eee;
  margin-left: -129px;
  display: block;
  position: absolute;
  top: 0;
  left: 120px;
  border-radius: 20px;
}

.timeline > li {
  position: relative;
}

.timeline > li:not(:last-child) {
  margin-bottom: 60px;
}

.timeline > li .icon {
  font-size: 0.8em;
  width: 2em;
  height: 2em;
  line-height: 2;
  text-align: center;
  font-weight: bold;
  border-radius: 100vh;
  color: #fff;
  background: #8EB83C;
  display: inline-block;
  margin-right: 0.3em;
}

.timeline > li dl {
  padding-left: 70px;
  position: relative;
}

.timeline > li dl::before,
.timeline > li dl::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
}

.timeline > li dl::before {
  width: 7px;
  height: 7px;
  margin-top: -3px;
  background: #8EB83C;
  border-radius: 50%;
  left: -4px;
}

.timeline > li dl::after {
  width: 50px;
  border-bottom: 1px dashed #999;
  position: absolute;
  left: 5px;
}

.timeline > li dl dt {
  font-size: 1.3em;
  font-weight: 600;
  color: #8EB83C;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}