.models {
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 2em;
  margin-top: 30px;
  color: #2C3E50;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.model {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 5px;
}

.modelHeader {
  background-color: #2C3E50;
  color: #fff;
  padding: 10px;
}

.modelContent {
  display: flex;
  padding: 10px;
}

.imagePlaceholder {
  width: 150px;
  height: 150px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.modelDescription {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
